<head>
	<style>
		p {text-indent: 40px; text-align:justify; font-size:22px;}
		img {float:left; margin:0 5px 5px 0;}
	</style>
</head>
<body>
<img src="../picture/freescale.png" style="width: 15%;height:auto"/>
<p>
  <i><b>2014.7 R&D of CV based autonomous two-wheeled car</b></i>
  <br>
  In the summer of 2014, when I was a second-year undergraduate student, I took part in a national competition where every school designed a little car that can autonomously driving along the road.
  Cars are mainly divided into three groups, each year the organizer would set some rules to increase difficulties. we were the group of CMOS camera based two-wheeled car, the other two groups are linear-CCD based four-wheeled car and electromagnetic based four-wheeled car.
  In this project, I was in charge of the balance control and speed control of the car. I dived into it from Nov 2013 to July 2014, knowing how to use PID, and how to program the Freescale MCU for peripherals interaction.
  Meanwhile, I obtained many truths from numerous failures. The most impressive I always remembered was that a two-wheeled car with lower gravity center, lighter weight and more powerful motor, is much easier to control, so a good mechanical design relieves much pressure from control algorithm.
</p>    
</body>
