<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="./style.css" />
	</head>
	<body>
		<div class="stl_02">
			<div class="stl_03">
				<object data="./img_02.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.1667em;">
					<embed src="./img_02.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_07" style="top:2.2486em; left:39.6496em;"><span class="stl_08 stl_09 stl_10">xuhui.hu@seu.edu.cn &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:3.8102em; left:41.9539em;"><span class="stl_08 stl_09 stl_12">13951020381 &nbsp;</span></div>
					<div class="stl_01 stl_13" style="top:2.6669em; left:3.1613em;"><span class="stl_14 stl_09 stl_15" style="word-spacing:0.0001em;">HU XUHUI &nbsp;</span></div>
					<div class="stl_01 stl_16" style="top:4.5302em; left:3.2375em;"><span class="stl_17 stl_09 stl_18" style="word-spacing:0.0093em;">Ph.D. candidate &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:5.3718em; left:41.7635em;"><span class="stl_08 stl_09 stl_19" style="word-spacing:0.0004em;">Nanjing, China &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:6.9334em; left:39.5544em;"><span class="stl_08 stl_09 stl_20">twitter.com/hu_xuhui &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:8.495em; left:39.8019em;"><span class="stl_08 stl_09 stl_10">github.com/xuhui-hu &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:6.1941em; left:3.2375em;"><span class="stl_22 stl_09 stl_23" style="word-spacing:0.0014em;">Third-year Ph.D. candidate majoring in the &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:7.1082em; left:3.2375em;"><span class="stl_22 stl_09 stl_10" style="word-spacing:0.0001em;">research of Bionic Prostheses since 2016, &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:8.0223em; left:3.2375em;"><span class="stl_22 stl_09 stl_12" style="word-spacing:-0.0002em;">focusing on sEMG based motion recognition &nbsp;</span></div>
					<div class="stl_01 stl_25" style="top:11.7928em; left:3.2375em;"><span class="stl_26 stl_09 stl_27" style="font-weight:bold;">EDUCATION &nbsp;</span></div>
					<div class="stl_01 stl_25" style="top:11.7928em; left:26.2807em;"><span class="stl_26 stl_09 stl_28" style="font-weight:bold;">SKILLS &nbsp;</span></div>
					<div class="stl_01 stl_29" style="top:13.3666em; left:3.2375em;"><span class="stl_30 stl_09 stl_31" style="font-weight:bold; word-spacing:0.0024em;">Doctor of Engineering &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:13.7165em; left:26.852em;"><span class="stl_32 stl_09 stl_10" style="word-spacing:0.0001em;">Bio-inspired deep learning design &nbsp;</span></div>
					<div class="stl_01 stl_29" style="top:14.5093em; left:3.2375em;"><span class="stl_33 stl_09 stl_34" style="word-spacing:0.0023em;">Southeast University &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:15.7698em; left:3.2375em;"><span class="stl_35 stl_09 stl_15" style="font-style:italic;">0</span></div>
					<div class="stl_01 stl_07" style="top:15.7698em; left:3.6133em;"><span class="stl_35 stl_09 stl_10" style="font-style:italic; word-spacing:0em;">9/2016 – Present &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:15.7698em; left:19.063em;"><span class="stl_35 stl_09 stl_12" style="font-style:italic; word-spacing:0em;">Nanjing, China &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:15.8494em; left:26.852em;"><span class="stl_32 stl_09 stl_36" style="word-spacing:0.0019em;">Physiological study of hand motion &nbsp;</span></div>
					<div class="stl_01 stl_37" style="top:17.9823em; left:26.852em;"><span class="stl_32 stl_09 stl_34" style="word-spacing:0.002em;">Fundamentals of mechanical design &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:16.8363em; left:3.2375em;"><span class="stl_35 stl_09 stl_38" style="font-style:italic;">Courses &nbsp;</span></div>
					<div class="stl_01 stl_39" style="top:17.7919em; left:3.9802em;"><span class="stl_22 stl_09 stl_10" style="word-spacing:0.0001em;">Digital Signal Processing &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:18.8584em; left:3.9802em;"><span class="stl_22 stl_09 stl_19" style="word-spacing:0.0004em;">Deep learning &nbsp;</span></div>
					<div class="stl_01 stl_40" style="top:19.9248em; left:3.9802em;"><span class="stl_22 stl_09 stl_10" style="word-spacing:0em;">Mechanical Design &nbsp;</span></div>
					<div class="stl_01 stl_40" style="top:20.9913em; left:3.9802em;"><span class="stl_22 stl_09 stl_12">Statistics &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:20.1153em; left:26.852em;"><span class="stl_32 stl_09 stl_36" style="word-spacing:0.0019em;">Soft &amp; Hardware development of MCU and Linux &nbsp;</span></div>
					<div class="stl_01 stl_37" style="top:22.2482em; left:26.852em;"><span class="stl_32 stl_09 stl_10" style="word-spacing:0em;">Expertise of Programming Languages: Python, C &nbsp;</span></div>
					<div class="stl_01 stl_37" style="top:24.3811em; left:26.852em;"><span class="stl_32 stl_09 stl_41" style="word-spacing:0.0033em;">Design Tool: Solidworks, Altium Designer &nbsp;</span></div>
					<div class="stl_01 stl_29" style="top:22.4905em; left:3.2154em;"><span class="stl_30 stl_09 stl_10" style="font-weight:bold; word-spacing:0em;">Bachelor of Electric Engineering &nbsp;</span></div>
					<div class="stl_01 stl_29" style="top:23.6332em; left:3.2154em;"><span class="stl_33 stl_09 stl_42" style="word-spacing:0.0059em;">Changshu Institute of Technology &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:24.8937em; left:3.2154em;"><span class="stl_35 stl_09 stl_12" style="font-style:italic; word-spacing:0em;">09/2012 – 06/2016 &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:24.8937em; left:19.1743em;"><span class="stl_35 stl_09 stl_12" style="font-style:italic; word-spacing:-0.0001em;">Suzhou, China &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:25.9602em; left:3.2154em;"><span class="stl_35 stl_09 stl_38" style="font-style:italic;">Courses &nbsp;</span></div>
					<div class="stl_01" style="top:26.8572em; left:3.9335em;"><span class="stl_43 stl_09 stl_44" style="word-spacing:-0.0039em;">Circuits Design &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:26.514em; left:26.852em;"><span class="stl_32 stl_09 stl_44" style="word-spacing:0.0015em;">Programming IDE:Pycharm, Keil, Matlab, IAR &nbsp;</span></div>
					<div class="stl_01" style="top:27.9237em; left:3.9335em;"><span class="stl_43 stl_09 stl_45" style="word-spacing:0.0147em;">Embeded Devices Development &nbsp;</span></div>
					<div class="stl_01" style="top:28.9901em; left:3.9335em;"><span class="stl_43 stl_09 stl_46" style="word-spacing:0.0131em;">Advanced Mathematics &nbsp;</span></div>
					<div class="stl_01 stl_25" style="top:29.6942em; left:26.2807em;"><span class="stl_26 stl_09 stl_47" style="font-weight:bold;">ACHIEVEMENTS &nbsp;</span></div>
					<div class="stl_01" style="top:30.3963em; left:3.1626em;"><span class="stl_26 stl_09 stl_20" style="font-weight:bold;">PROJECTS &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:31.2127em; left:26.2807em;"><span class="stl_49 stl_09 stl_46" style="word-spacing:0.0028em;">Best HMI Award (08/2019) &nbsp;</span></div>
					<div class="stl_01" style="top:31.9148em; left:3.1626em;"><span class="stl_50 stl_09 stl_31" style="word-spacing:0.003em;">Bionic Prostheses Research supported by NSFC &nbsp;</span></div>
					<div class="stl_01" style="top:32.8289em; left:3.4324em;"><span class="stl_50 stl_09 stl_51" style="word-spacing:0.0019em;">01/2017 – Present) &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:32.1667em; left:26.2807em;"><span class="stl_52 stl_09 stl_47" style="font-style:italic; word-spacing:0.0029em;">World Robot Conference 2019 &nbsp;</span></div>
					<div class="stl_01" style="top:32.8289em; left:3.1626em;"><span class="stl_50 stl_09 stl_15">(</span></div>
					<div class="stl_01" style="top:33.821em; left:3.9053em;"><span class="stl_53 stl_09 stl_51" style="word-spacing:-0.004em;">Southest University &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:34.0312em; left:26.2807em;"><span class="stl_49 stl_09 stl_46" style="word-spacing:0.0029em;">1st Prize of Myoelectric Controlled Robot Hand &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:34.9453em; left:26.2807em;"><span class="stl_49 stl_09 stl_12">(07/2019) &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:35.8993em; left:26.2807em;"><span class="stl_52 stl_09 stl_36" style="font-style:italic; word-spacing:0.0019em;">National Graduate Robot Design Competition &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:36.2493em; left:3.1184em;"><span class="stl_49 stl_09 stl_54" style="word-spacing:0.0031em;">sEMG based HMI support by National Key R&amp;D Plan &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:37.1634em; left:3.3898em;"><span class="stl_49 stl_09 stl_12" style="word-spacing:-0.0001em;">08/2017 – Present) &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:37.1634em; left:3.1184em;"><span class="stl_49 stl_09 stl_15">(</span></div>
					<div class="stl_01 stl_07" style="top:38.1555em; left:3.8611em;"><span class="stl_08 stl_09 stl_10" style="word-spacing:0.0001em;">Southeast University &nbsp;</span></div>
					<div class="stl_01 stl_25" style="top:39.2162em; left:26.2807em;"><span class="stl_26 stl_09 stl_55" style="font-weight:bold;">ORGANIZATIONS &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:40.5913em; left:3.1184em;"><span class="stl_49 stl_09 stl_12" style="word-spacing:-0.0001em;">R&amp;D of Robotic Hand for Science Exhibits &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:41.5054em; left:3.3898em;"><span class="stl_49 stl_09 stl_15" style="word-spacing:-0.0003em;">03/2019 – 06/2019) &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:40.7347em; left:26.2807em;"><span class="stl_49 stl_09 stl_44" style="word-spacing:0.0014em;">State Key Laboratory of Bioelectronics &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:41.5054em; left:3.1184em;"><span class="stl_49 stl_09 stl_15">(</span></div>
					<div class="stl_01 stl_48" style="top:41.6488em; left:26.2807em;"><span class="stl_49 stl_09 stl_12" style="word-spacing:-0.0001em;">(09/2016 – Present) &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:42.4975em; left:3.8611em;"><span class="stl_08 stl_09 stl_56" style="word-spacing:0.0046em;">China Science and Technology Museum &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:42.5647em; left:26.2807em;"><span class="stl_52 stl_09 stl_45" style="font-style:italic; word-spacing:0.0039em;">Southeast University Tutor: Aiguo Song &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:44.9333em; left:3.1184em;"><span class="stl_49 stl_09 stl_10" style="word-spacing:-0.0002em;">R&amp;D of a Multi-fingers Prosthetic Hand for Amputee &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:45.8474em; left:3.3898em;"><span class="stl_49 stl_09 stl_15" style="word-spacing:-0.0003em;">05/2018 – 08/2018) &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:45.8474em; left:3.1184em;"><span class="stl_49 stl_09 stl_15">(</span></div>
					<div class="stl_01 stl_25" style="top:45.8816em; left:26.2807em;"><span class="stl_26 stl_09 stl_57" style="font-weight:bold;">CERTIFICATES &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:46.8396em; left:3.8611em;"><span class="stl_08 stl_09 stl_10" style="word-spacing:0.0001em;">Southest University &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:47.4001em; left:26.2807em;"><span class="stl_49 stl_09 stl_23" style="word-spacing:0.0015em;">Machine Learning in COURSERA (05/2017) &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:49.2754em; left:3.1184em;"><span class="stl_49 stl_09 stl_58" style="word-spacing:0.0052em;">R&amp;D of a two-wheeled motorized personal vehicle &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:50.1895em; left:3.3898em;"><span class="stl_49 stl_09 stl_15" style="word-spacing:-0.0003em;">10/2014 – 09/2015) &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:50.1895em; left:3.1184em;"><span class="stl_49 stl_09 stl_15">(</span></div>
					<div class="stl_01 stl_07" style="top:51.1816em; left:3.8611em;"><span class="stl_08 stl_09 stl_59" style="word-spacing:0.0044em;">Changshu Institute of Technology &nbsp;</span></div>
					<div class="stl_01 stl_25" style="top:50.8901em; left:26.2807em;"><span class="stl_26 stl_09 stl_60" style="font-weight:bold;">LANGUAGES &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:52.6424em; left:26.2807em;"><span class="stl_22 stl_09 stl_10">English &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:52.6424em; left:37.6309em;"><span class="stl_22 stl_09 stl_10">Chinese &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top:53.5721em; left:37.6309em;"><span class="stl_35 stl_09 stl_10" style="font-style:italic; word-spacing:0.0001em;">Native or Bilingual Proﬁciency &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:53.6174em; left:3.1184em;"><span class="stl_49 stl_09 stl_47" style="word-spacing:0.0028em;">9th Freescale Intelligent Car Competition &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:53.5721em; left:26.2807em;"><span class="stl_35 stl_09 stl_10" style="font-style:italic; word-spacing:0.0003em;">Full Professional Proﬁciency &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top:54.5315em; left:3.1184em;"><span class="stl_49 stl_09 stl_15" style="word-spacing:-0.0002em;">(09/2013 – 09/2014) &nbsp;</span></div>
					<div class="stl_01 stl_07" style="top:55.5236em; left:3.8611em;"><span class="stl_08 stl_09 stl_10" style="word-spacing:0.0001em;">CV based autonomous two-wheeled self-balanced car in &nbsp;</span></div>
					<div class="stl_01 stl_61" style="top:56.2663em; left:3.8611em;"><span class="stl_08 stl_09 stl_59" style="word-spacing:0.0044em;">Changshu Institute of Technology &nbsp;</span></div>
					<div class="stl_01" style="top:55.7419em; left:26.3521em;"><span class="stl_26 stl_09 stl_59" style="font-weight:bold;">INTERESTS &nbsp;</span></div>
					<div class="stl_01" style="top:57.7417em; left:26.9996em;"><span class="stl_43 stl_09 stl_58" style="word-spacing:0.0017em;">Neural Control &nbsp;</span></div>
					<div class="stl_01" style="top:57.7417em; left:33.6647em;"><span class="stl_43 stl_09 stl_47" style="word-spacing:-0.0026em;">Haptic Perception &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:59.8599em; left:26.9282em;"><span class="stl_22 stl_09 stl_10" style="word-spacing:0em;">Muscle Stimulation &nbsp;</span></div>
					<div class="stl_01 stl_21" style="top:59.8599em; left:35.0409em;"><span class="stl_22 stl_09 stl_19" style="word-spacing:0.0004em;">Deep Learning &nbsp;</span></div>
					<div class="stl_01" style="top:61.2223em; left:2.2863em;"><span class="stl_26 stl_09 stl_65" style="font-weight:bold;">PUBLICATIONS &nbsp;</span></div>
					<div class="stl_01" style="top:62.7054em; left:2.2863em;"><span class="stl_62 stl_63 stl_66" style="word-spacing:-0.0112em;">X. Hu et al., Real-Time Continuous Hand Motion Myoelectric Decoding by Automated Data Labeling. International Con- &nbsp;</span></div>
					<div class="stl_01" style="top:63.4805em; left:2.2863em;"><span class="stl_62 stl_63 stl_67" style="word-spacing:-0.0121em;">ference on Robotics and Automation(ICRA), Paris, France, 2020, pp. 6951- 6957 &nbsp;</span></div>
					<div class="stl_01" style="top:65.0348em; left:2.2863em;"><span class="stl_62 stl_63 stl_68" style="word-spacing:-0.0073em;">H. Zeng et al., Semi-autonomous Robotic Arm Reaching with Hybrid Gaze-Brain Machine Interface. Frontiers in &nbsp;</span></div>
					<div class="stl_01" style="top:65.81em; left:2.2863em;"><span class="stl_62 stl_63 stl_69">Neurorobotics.2020 &nbsp;</span></div>
					<div class="stl_01" style="top:67.3642em; left:2.2863em;"><span class="stl_62 stl_63 stl_66" style="word-spacing:-0.0094em;">D. Chen et al., A Spherical Actuator-Based Hand-Held Haptic Device for Touch Screen Interaction. IEEE Access, 2019 &nbsp;</span></div>
				</div>
			</div>
		</div>
	</body>
</html>

